
{% extends "layout.html" %}

{% block pageTitle %}
 {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Data sources
      </h1>

      <p>
        Data has been pulled or taken from these sources:
      </p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Cross government data commision</a>
        </li>
        <li>
          <a class="govuk-link" href="https://moj-register-of-services.herokuapp.com/">Ministry of Justice, Register of public-facing services</a>
        </li>
        <li>
          <a class="govuk-link" href="https://ukhomeoffice.github.io/coe/service-list/">Services by the Home Office</a>
        </li>
        <li>
          <a class="govuk-link" href="https://github.com/HarryTrimble/service_register">Harry Trimbles 2017 attempt to make a register of services as users see them</a>
        </li>

      </ul>



    </div>
  </div>

{% endblock %}
