
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Register of Services
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        GOV.UK Register of services
      </h1>{{releaseVersion | log }}
      <p>
        There have been many attempts to create a list of services. This is an attempt to bring all of these lists together in one place.
      </p>

      <p>
        Once we know where all of the servcies are we can work togethet in a more joined up way.
      </p>

      <h2 class="govuk-heading-m">Contributing</h2>

      <p>This is an open croud-sorced effort if your service isn't on the list you can contribute it. </p>

      <p>You need four peices of information:</p>

      <ul class="govuk-list govuk-list--number">
        <li>The service name</li>
        <li>The URL of the service</li>
        <li>The department that's respobnsible for the service </li>
      </ul>

      <p>Only services with a pingable URL will be included in the list.</p>

      <h3 class="govuk-heading-s">By email</h3>

      <p>
        Email <a href="mailto:registerofservices@digital.cabinet-office.gov.uk">registerofservices@digital.cabinet-office.gov.uk</a> with the details above and they will be included in the list.
      </p>

      <h3 class="govuk-heading-s">By pull request on Github</h3>
      <p>
        Open a pull request on the <a href="#"> Register of services reposiotory</a>.
      </p>

      <h2 class="govuk-heading-m">Services</h2>
      <p><a href="/list">View</a> and search the list using your broesers search function.</p>

    </div>
  </div>

{% endblock %}
