
{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>{{releaseVersion | log }}
      <p>
        There are lots of lists of government services in lots of places. This is an attempt to bring all of these lists together in one place.
      </p>

      <p class="govuk-body-l"><a class="govuk-button" href="/list">View the list</a></p>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <h2 class="govuk-heading-m">Data sources</h2>
      <p>The data in this list comes from different <a href="/data-sources">sources</a>.</p>

      <h2 class="govuk-heading-m">Contributing</h2>

      <p>This is an open, crowdsourced effort. If your service isn't on the list, you can add it. </p>

      <p>We'll keep a record of who added the service but won't publish this information. </p>

      <p>You'll need the:</p>

      <ul class="govuk-list govuk-list--number">
        <li>service name</li>
        <li>service URL</li>
        <li>department that's responsible for the service</li>
      </ul>



      <p>Only services with a 'pingable' URL will be included in the list.</p>

      <h3 class="govuk-heading-s">By email</h3>

      <p>
        Email <a href="mailto:listofservices@digital.cabinet-office.gov.uk">listofservices@digital.cabinet-office.gov.uk</a> to add your service information to the list.
      </p>

      <h3 class="govuk-heading-s">By pull request on Github</h3>
      <p>
        Open a pull request on the <a href="#"> List of services repository</a>.
      </p>

    </div>
  </div>

{% endblock %}
