
{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p class="govuk-body">Use cmd/ctrl + f to search.</p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Service</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for url in data.workingServices %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="{{url}}">
                  {{ url }}
                </a>
              </td>
            </tr>
          {%- endfor %}
        </tbody>
      </table>

    </div>
  </div>

{% endblock %}
